html, body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5vw;
     background-color: #51e2f5;
}

.home-content-container {
     text-align: justify;
     margin-top: 1vw;
     margin-left: 2vw;
     margin-right: 2vw;
}

#eupolis-img-container {
     display: block;
     position: absolute;
     top: 1%;
     left: 0.6%;
     /* display: block; */
}

#uwmh-img-container {
     display: block;
     position: absolute;
     top: 2%;
     left: 89%;
}
