html {
     height: 100%;
}

body {
     font-family: Helvetica, Arial;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     background-image: url("./images/background.jpg");
     background-size: cover;
     /* Background images from https://www.freepik.com/free-vector/ */
     min-height: 100vh;
     background-position: center center;
     background-attachment: scroll;
     /* background-blend-mode: luminosity; */
     /* background-repeat: no-repeat; */
}


.table > tbody > tr > td {
     vertical-align: middle;
}

div a img {
     max-width: 100%;
}

div img {
     max-width: 100%;
}
